body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  color: #011827;
}

.header {
  background: #011827;
}
.header .header--main {
  display: grid;
  grid-template-columns: 30% 20% 50%;
  align-items: center;
  gap: 16px;
  padding: 16px 16px 8px 16px;
}
.header .header--main .header__logo {
  background: #011827;
  border-radius: 10px;
}
.header .header--main .header__logo img {
  width: 100%;
  height: 60%;
}
.header .header--main .header--main--title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.03em;
}
.header .header__nav {
  display: none;
}

.hero {
  margin-bottom: 24px;
}
.hero .hero__image {
  margin-bottom: 30px;
  justify-items: center;
  align-items: end;
  position: relative;
}
.hero .hero__image img {
  width: 100%;
  object-fit: contain;
}
.hero .hero_buttons {
  display: flex;
  flex-direction: column;
  margin: 0 90px;
}
.hero .hero_buttons .hero__button--primary,
.hero .hero_buttons .hero__button--secondary {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 13px 0;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.hero .hero_buttons .hero__button--secondary {
  order: 0;
  width: 100%;
  background: #8ACFE5;
  color: #011827;
  font-size: 1.1rem;
  font-weight: 600;
  flex: 1 1 auto;
}
.hero .hero_buttons .hero__button--primary {
  order: 1;
  width: 100%;
  color: #011827;
  text-decoration: underline;
  margin-bottom: 0;
  background: #f5f8fa;
  font-size: 0.7rem;
  font-weight: 400;
  flex: 1 1 auto;
}

.testimonials {
  display: flex;
}

.testimonial__content {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
  justify-items: center;
  border-radius: 12px;
  padding: 17px 12px 12px 12px;
  margin: 0 14px 16px 14px;
}
.testimonial__content img.testimonials_image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}
.testimonial__content .testimonials__quote {
  color: #011827;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  margin: 0 0 6px 20px;
  grid-row: 1;
  grid-column: 2;
}
.testimonial__content .testimonials__quote__date {
  color: #011827;
  width: 100%;
  font-size: 0.88rem;
  text-align: left;
  grid-row: 2;
  grid-column: 2;
  margin: 0 0 6px 35px;
}

.testimonial__content ~ .testimonial__content {
  display: none;
}

.challenges {
  margin-top: 40px;
  gap: 0;
  display: grid;
  grid-template-rows: auto auto auto;
}
.challenges .challenges__title {
  font-size: 1.5rem;
  margin: 0 0 40px 16px;
  color: #011827;
  font-weight: 400;
}
.challenges .challenges__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 12px 40px 40px;
}
.challenges .challenges__grid .challenge-tile {
  display: grid;
  min-width: 363px;
  min-height: 463px;
  margin: 0 12px 0 0;
  grid-template-rows: 3fr 0.5fr 0.5fr 1fr 1fr;
  gap: 0;
  background: #fffefe;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px #c5def0;
}
.challenges .challenges__grid .challenge-tile img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  object-fit: contain;
  grid-row: 1;
}
.challenges .challenges__grid .challenge-tile .challenge-tile__title {
  grid-row: 2;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 0 20px;
  color: #011827;
}
.challenges .challenges__grid .challenge-tile .challenge-tile_descriptionandparticipants {
  grid-row: 3;
  display: flex;
  margin-left: 20px;
  font-size: 1.2rem;
  align-items: center;
}
.challenges .challenges__grid .challenge-tile .challenge-tile__rating {
  font-size: 22px;
  color: #e14000;
}
.challenges .challenges__grid .challenge-tile .challenge-tile__participants {
  color: #afbac1;
  font-size: 14px;
  justify-self: center;
}
.challenges .challenges__grid .challenge-tile .challenge-tile__description {
  grid-row: 4;
  font-size: 0.97rem;
  color: #011827;
  margin: 0 0 7px 20px;
}
.challenges .challenges__grid .challenge-tile .challenge-tile__bookbutton {
  grid-row: 5;
  justify-self: right;
  background: #E3170A;
  color: #fff;
  border: none;
  width: 250px;
  padding: 20px 0;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.01rem;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(200, 80, 90, 0.09);
  margin: 2px 8px 8px;
}
.challenges .challenges_mainbuttons {
  display: flex;
  flex-direction: column;
  margin: 0 90px 20px 150px;
  width: fit-content;
  justify-items: center;
}
.challenges .challenges_mainbuttons .gglobal__button_onsite,
.challenges .challenges_mainbuttons .gglobal__button_insitu {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 13px 13px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.challenges .challenges_mainbuttons .gglobal__button_insitu {
  order: 0;
  width: 100%;
  background: #8ACFE5;
  color: #011827;
  font-size: 1.1rem;
  font-weight: 600;
  flex: 1 1 auto;
}
.challenges .challenges_mainbuttons .gglobal__button_onsite {
  order: 1;
  width: 100%;
  color: #011827;
  text-decoration: underline;
  margin-bottom: 0;
  background: #f5f8fa;
  font-size: 0.7rem;
  font-weight: 400;
  flex: 1 1 auto;
}

.story {
  display: grid;
  background: #011827;
  color: #fff;
  padding: 26px 12px 20px 12px;
  height: 500px;
}
.story .story--content_text {
  font-size: 1.7em;
  text-align: center;
  margin: 30px 15px 100px 15px;
  line-height: 1.35;
  font-weight: 100;
}
.story .story--content_button {
  background: none;
  border: 1.7px solid #8ACFE5;
  color: #8ACFE5;
  width: 308px;
  height: 66px;
  font-weight: 600;
  border-radius: 6px;
  padding: 0 0;
  font-size: 1.01rem;
  margin: 0 70px;
  text-align: center;
}

.calltoaction {
  display: block;
  padding: 0 0 12px 0;
}
.calltoaction .calltoaction_onsite, .calltoaction .calltoaction_allchallenge {
  background: #fff;
  border-radius: 12px;
}
.calltoaction .calltoaction_onsite img, .calltoaction .calltoaction_allchallenge img {
  width: 100%;
  height: 300px;
  margin: 0 0 10px 0;
  object-fit: cover;
}
.calltoaction .calltoaction_onsite h2, .calltoaction .calltoaction_allchallenge h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #011827;
  margin: 5px 20px 30px 20px;
  font-weight: 700;
}
.calltoaction .calltoaction_onsite p, .calltoaction .calltoaction_allchallenge p {
  color: #011827;
  font-size: 1.5rem;
  margin: 0 20px 30px 20px;
  font-weight: 400;
}
.calltoaction .calltoaction_onsite button, .calltoaction .calltoaction_allchallenge button {
  width: 60%;
  background: #E3170A;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 70px;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 1.01rem;
  font-weight: 600;
  box-shadow: 0 1px 6px rgba(200, 80, 90, 0.1);
}

.footer {
  background: #011827;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto;
  padding: 22px 16px 18px 16px;
}
.footer .footer_briefinfo .footer_briefinfo_title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 3px 0;
}
.footer .footer_briefinfo .footer_briefinfo_description {
  color: #afbac1;
  font-size: 0.93rem;
  margin: 0 0 10px 0;
}
.footer .footer_navigations {
  display: grid;
  gap: 15px;
}
.footer .footer_navigations .footer_navigations_sitemap .footer_navigations_sitemap_title,
.footer .footer_navigations .footer_navigations_sitemap .footer_navigations_follow_title,
.footer .footer_navigations .footer_navigations_follow .footer_navigations_sitemap_title,
.footer .footer_navigations .footer_navigations_follow .footer_navigations_follow_title {
  color: #8ACFE5;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 7px 0;
}
.footer .footer_navigations .footer_navigations_sitemap ul,
.footer .footer_navigations .footer_navigations_follow ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 5px;
}
.footer .footer_navigations .footer_navigations_sitemap ul li a,
.footer .footer_navigations .footer_navigations_follow ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.97rem;
}
.footer .footer_navigations .footer_navigations_sitemap ul li a:hover,
.footer .footer_navigations .footer_navigations_follow ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  body {
    font-size: 1.07em;
    line-height: 1.5;
  }
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .header .header--main {
    grid-row: 1;
    height: auto;
    display: grid;
    grid-template-columns: 15% 45% 45%;
    gap: 0px;
    padding: 0 0 0 0;
    margin: 10px 10px 10px 10px;
    align-items: end;
  }
  .header .header--main .header__logo {
    width: 128px;
    height: 82px;
    margin-left: 20px;
  }
  .header .header--main .header__logo img {
    height: 100%;
  }
  .header .header--main .header--main--title {
    height: 47px;
  }
  .header .header--main {
    gap: 26px;
  }
  .header .header--main .header--main--title {
    font-size: 2.15rem;
  }
  .header .header__nav {
    grid-row: 2;
    height: 108px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .header .header__nav ul {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    width: 60%;
  }
  .header .header__nav ul li {
    display: flex;
    margin: 0 20px 0 20px;
    width: 100%;
  }
  .header .header__nav ul li a {
    font-size: 1.11rem;
    padding: 7px 2px;
    width: 100%;
    color: #fff;
    border: none;
    background: none;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .header .header__nav ul li a:hover, .header .header__nav ul li a:focus {
    color: #8ACFE5;
    text-decoration: underline;
  }
  .hero {
    position: relative;
    margin-bottom: 0;
  }
  .hero .hero__image {
    margin: 0;
    width: 100%;
  }
  .hero .hero__image img {
    width: 100%;
    box-shadow: 0 2px 24px rgba(78, 134, 164, 0.13);
    object-fit: cover;
    display: block;
  }
  .hero .hero_buttons {
    position: absolute;
    margin: 0;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .hero .hero_buttons .hero__button--primary,
  .hero .hero_buttons .hero__button--secondary {
    width: 220px;
    margin-bottom: 0;
    margin-right: 24px;
    font-size: 1.13rem;
    padding: 15px 0;
    box-shadow: 0 2px 7px rgba(0, 60, 120, 0.09);
  }
  .hero .hero_buttons .hero__button--primary {
    order: 0;
    background: #E3170A;
    color: #fff;
    text-decoration: none;
  }
  .hero .hero_buttons .hero__button--secondary {
    order: 1;
  }
  .testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin: 40px 0 34px 0;
  }
  .testimonials .testimonial__content img.testimonials_image {
    width: 54px;
    height: 54px;
    margin-bottom: 0;
  }
  .testimonials .testimonial__content .testimonials__quote {
    font-size: 1.21rem;
    margin: 0;
  }
  .testimonials .testimonial__content .testimonials__quote__date {
    font-size: 0.95rem;
    margin-left: 0;
  }
  .testimonials .testimonial__content ~ .testimonial__content {
    display: grid;
  }
  .challenges {
    padding: 0 60px;
  }
  .challenges .challenges__title {
    font-size: 2.1rem;
    margin: 16px 0 44px 0;
  }
  .challenges .challenges__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 0 0 40px 0;
  }
  .challenges .challenges__grid .challenge-tile {
    padding: 10px 14px 18px 14px;
    background: #fff;
    box-shadow: 0 6px 24px rgba(180, 205, 233, 0.2);
  }
  .challenges .challenges__grid .challenge-tile .challenge-tile__bookbutton {
    width: 100%;
    font-size: 1.12rem;
  }
  .challenges .challenges_mainbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30%;
    align-items: center;
    gap: 30px;
  }
  .challenges .challenges_mainbuttons .gglobal__button_onsite,
  .challenges .challenges_mainbuttons .gglobal__button_insitu {
    align-self: center;
  }
  .challenges .challenges_mainbuttons .gglobal__button_insitu {
    order: 1;
  }
  .challenges .challenges_mainbuttons .gglobal__button_onsite {
    background: #E3170A;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .story {
    padding: 44px 0 48px 0;
    max-height: 400px;
  }
  .story .story--content_text {
    max-width: 600px;
    margin: 34px auto 52px auto;
    font-size: 2.13rem;
    line-height: 1.3;
    text-align: center;
  }
  .story .story--content_button {
    margin: 0 auto;
    display: block;
    width: 350px;
    height: 58px;
    font-size: 1.13rem;
  }
  .calltoaction {
    display: block;
    padding-bottom: 0;
  }
  .calltoaction .calltoaction_onsite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    max-height: 800px;
  }
  .calltoaction .calltoaction_onsite img {
    margin: 0;
    min-width: 450px;
    min-height: 400px;
    grid-column: 1;
  }
  .calltoaction .calltoaction_onsite .calltoaction_textandbutton {
    grid-column: 2;
    padding: 10%;
  }
  .calltoaction .calltoaction_onsite h2 {
    font-size: 1.38rem;
    margin: 4px 10px 20px 10px;
  }
  .calltoaction .calltoaction_onsite p {
    font-size: 1.05rem;
  }
  .calltoaction .calltoaction_onsite button {
    margin-left: 18px;
    margin-right: 42px;
    font-size: 1.05rem;
  }
  .calltoaction .calltoaction_allchallenge {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    max-height: 800px;
  }
  .calltoaction .calltoaction_allchallenge img {
    margin: 0;
    min-width: 450px;
    min-height: 400px;
    grid-column: 2;
  }
  .calltoaction .calltoaction_allchallenge .calltoaction_textandbutton2 {
    grid-column: 1;
    grid-row: 1;
    padding: 10%;
  }
  .calltoaction .calltoaction_allchallenge .calltoaction_textandbutton2 h2 {
    font-size: 1.38rem;
    margin: 4px 10px 20px 10px;
  }
  .calltoaction .calltoaction_allchallenge .calltoaction_textandbutton2 p {
    font-size: 1.05rem;
  }
  .calltoaction .calltoaction_allchallenge .calltoaction_textandbutton2 button {
    margin-left: 18px;
    margin-right: 42px;
    font-size: 1.05rem;
  }
  .footer {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: none;
    gap: 78px;
    padding: 38px 60px 24px 60px;
    align-items: flex-start;
  }
  .footer .footer_briefinfo .footer_briefinfo_title {
    font-size: 1.19rem;
  }
  .footer .footer_briefinfo .footer_briefinfo_description {
    font-size: 1.02rem;
  }
  .footer .footer_navigations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
  .footer .footer_navigations .footer_navigations_sitemap ul, .footer .footer_navigations .footer_navigations_follow ul {
    font-size: 1.03rem;
  }
}

/*# sourceMappingURL=output.css.map */
